/.vs/config
/.vs/Status/DesignTimeBuild/.dtbcache
/.vs/Status/v15/.suo
/.vs/Status/v15/Server/sqlite3/db.lock
/.vs/Status/v15/Server/sqlite3/storage.ide
/.vs/Status/v15/Server/sqlite3/storage.ide-shm
/.vs/Status/v15/Server/sqlite3/storage.ide-wal
/Status.Web/.vscode
/Status.Web/ClientApp/.vscode
